# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/
ENV/
.venv/

# Flask instance folder
instance/

# Configuration files
*.env

# IDE specific files
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store

# Logs
*.log

# Database files
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints
